/* 

Styles:		Brand Config

origin: 	1.0 — 11/16/22
version: 	1.1 — 01/05/23 Update
author: 	Joshua Blankenship
email: 		joshua@blankenship.xyz
website: 	http://blankenship.xyz
          

/* FOUNDATION */

	*, html, body, div, span, object, iframe,
	a, abbr, acronym, address, big, cite, code,
	del, dfn, em, img, ins, kbd, q, samp,
	small, strike, strong, sub, sup, tt, var,
	dl, dt, dd, ol, ul, li, img, figure, figcaption,
	fieldset, form, label, legend,
	table, caption, tbody, tfoot, thead, tr, th, td {
		box-sizing: border-box;
		font-smoothing: antialiased;
		margin: 0;
		padding: 0;
		outline: none;
		}

	html {
    	font-size: 16px;
	}

	ul {
	    list-style-type: none;
	}

	@media(min-width:700px) {
	    html {
	        font-size: 16px
	    }
	}

	@media(min-width:1200px) {
	    html {
	        font-size: 17px
	    }
	}

	@media(min-width:1400px) {
	    html {
	        font-size: 18px
	    }
	}

	body {
		background-color: #eee;
		color: #1D1D1D;
		font-family: 'Inter', -apple-system, BlinkMacSystemFont, Helvetica, sans-serif;
		margin:  0 auto;
		padding: 0;
		min-height: 100vh;
		background: linear-gradient(90deg, #EEE 24px, transparent 1%) center, linear-gradient(#EEE 24px, transparent 1%) center, #AAA;
  		background-size: 25px 25px;
	}

	header {
	}

	header nav {
		max-width: 1200px;
		margin: 0 auto;
	    display: grid;
	    grid-template-columns: 45% 45%;
	    grid-gap: 10%;
	    padding: 4rem 0;
	}

	header nav h1 {
		font: 800 2rem/2rem 'Zuume', sans-serif;
		text-transform: uppercase;
	}

	header nav ul {
		font: 700 1rem/1rem 'Inter', -apple-system, BlinkMacSystemFont, Helvetica, sans-serif;
	}

	header nav ul li a { 
		color: #1D1D1D;
		text-decoration: none; 
	}

	header nav ul li.active a { 
		color: #F05A28;
	}

	header nav ul li {
		display: inline;
		padding-right: 2rem;
	}

	section {
		max-width: 1200px;
		margin: 0 auto;
	}

	

	header div {}

	header div section {
		padding: 4rem 0;
		display: grid;
	    grid-template-columns: 45% 45%;
	    grid-gap: 10%;
	}

	header div section h1 {
		color: #F05A28;
		font: 800 8rem/6rem 'Zuume', sans-serif;
		text-transform: uppercase;
	}

	header div section h2 {
		color: #EDEDED;
		font: 400 1.15rem/2rem 'Inter',-apple-system,BlinkMacSystemFont,Helvetica, sans-serif;
	}

	main article {
		background: #fff;
		border-radius: 5px;
		box-shadow: 0 0.938em 2.188em rgba(50,50,50,.1), 0 0.313em 0.938em rgba(0,0,0,.07);	
		max-width: 1200px;
		margin: 4rem auto;	
		padding: 6rem 12rem;	
	}

/* SECTION -- COLORS */

.light 	{ background-color: #FFF; }
.dark	{ background-color: #1D1D1D }


/* SECTION -- FOOTER */
	
	footer {
		background-color: #1D1D1D;
	}

	footer section {
		max-width: 1200px;
		margin: 0 auto;
		display: grid;
	    grid-template-columns: 45% 45%;
	    grid-gap: 10%;
	    padding: 4rem 0;
	}

/* TYPOGRAPHY */

	h3 {
		font: 700 2rem/2.5rem 'Inter',-apple-system,BlinkMacSystemFont,Helvetica, sans-serif;
 		letter-spacing: -.09rem;
	}

  	p {
		font: 400 1.15rem/2rem 'Inter',-apple-system,BlinkMacSystemFont,Helvetica, sans-serif;
		margin-bottom: 2rem;
 	}

	p a {
		color: #F05A28;
	}

	code { 
		background: #2d2d2d;
		border-radius: 5px;
		color: #ddd;
		display: block;
 		font: 400 1rem/1.5rem 'IBM Plex Mono',SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace;
		font-size: 90%;
		margin-bottom: 1.75rem;
		padding: 1.5rem;
	}

	p code {
		background: inherit;
		color: #5D5D5D;
		display: inline;
 		font: 700 1.25rem/1.75rem 'IBM Plex Mono',SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace;
		font-size: 100%;
		margin-bottom: 0;
		padding: 0;
	}

	code a {
		color: #F05A28!important;
	}

	main article h2 {
		font: 800 4rem/4rem 'Zuume', sans-serif;
 		margin-bottom: 1rem;
	}

	main article h3 {
		font: 400 2.5rem/2.5rem 'Zuume', sans-serif;
 		margin: 2rem 0 0;
	}

	main article h4 {
	 	color: #F05A28;
		font: 700 1.5rem/1.5rem 'Inter', -apple-system, BlinkMacSystemFont, Helvetica, sans-serif;
 		letter-spacing: -.075rem;
 		margin-bottom: 2.5rem;
	}

	main article span {
		display: block;
		margin-bottom: 6rem;
	}

	main article h5 {
		border-bottom: 1px solid #CDCDCD;		
		font: 700 1.25rem/1.25rem 'Inter', -apple-system, BlinkMacSystemFont, Helvetica, sans-serif;
 		letter-spacing: -.075rem;
 		margin: 0 0 1.5rem;
 		padding-bottom: 1rem;
	}

	main article nav {
		margin: 2.5rem 0 2.5rem;
	}

	main article nav p {
		font: 700 .8rem/2.5rem 'Inter', -apple-system, BlinkMacSystemFont, Helvetica, sans-serif;
		text-transform: uppercase;
		letter-spacing: .075rem;
	}

	main article nav a {
		color: #F05A28;
	}

	main article p {
		font: 400 1rem/1.5rem 'Inter', -apple-system, BlinkMacSystemFont, Helvetica, sans-serif;
		margin-bottom: 1.75rem;
 	}

 	main article p a {
 		color: #F05A28;
 	}

 	main article hr { 
 		height: 4rem; 
 		margin-bottom: 1.75rem;
 	}

/* WEE SCREENS */

		@media (min-width: 801px) and (max-width: 1000px) {


		}

		@media (min-width: 100px) and (max-width: 600px) {


		}


/* 2023 */

	