/* 

Styles:		Brand Config

origin: 	1.0 — 11/16/22
version: 	1.1 — 01/05/23 Update
author: 	Joshua Blankenship
email: 		joshua@blankenship.xyz
website: 	http://blankenship.xyz
          

/* FOUNDATION */

	*, html, body, div, span, object, iframe,
	a, abbr, acronym, address, big, cite, code,
	del, dfn, em, img, ins, kbd, q, samp,
	small, strike, strong, sub, sup, tt, var,
	dl, dt, dd, ol, ul, li, img, figure, figcaption,
	fieldset, form, label, legend,
	table, caption, tbody, tfoot, thead, tr, th, td {
		box-sizing: border-box;
		font-smoothing: antialiased;
		margin: 0;
		padding: 0;
		outline: none;
		}

	html {
    	font-size: 16px;
	}

	ul {
	    list-style-type: none;
	}

	@media(min-width:700px) {
	    html {
	        font-size: 16px
	    }
	}

	@media(min-width:1200px) {
	    html {
	        font-size: 17px
	    }
	}

	@media(min-width:1400px) {
	    html {
	        font-size: 18px
	    }
	}

	body {
		background-color: #eee;
		color: #1D1D1D;
		font-family: 'Inter', -apple-system, BlinkMacSystemFont, Helvetica, sans-serif;
		margin:  0 auto;
		padding: 0;
		min-height: 100vh;
	}

	header {
	}

	header nav {
		max-width: 1200px;
		margin: 0 auto;
	    grid-template-columns: 30% 70%;
	    padding: 4rem 0;
	}

	header nav ul li {
		display: inline;
		padding-left: 2rem;
	}

	section {
		max-width: 1200px;
		margin: 0 auto;
	}

	header nav ul {}

	header div {}

	header div section {
		padding: 4rem 0;
		display: grid;
	    grid-template-columns: 45% 45%;
	    grid-gap: 10%;
	}

	header div section h1 {
		color: #F05A28;
		font: 800 4rem/3rem 'Zuume-Black', sans-serif;
		text-transform: uppercase;
	}

	header div section h2 {
		color: #EEE;
		font: 400 1rem/2.5rem 'Inter', -apple-system, BlinkMacSystemFont, Helvetica, sans-serif;
 		letter-spacing: -.075rem;
	}


/* SECTION -- COLORS */

.light 	{ background-color: #FFF; }
.dark	{ background-color: #1D1D1D }


/* SECTION -- FOOTER */
	
	main section {
		display: grid;
	    grid-template-columns: 45% 45%;
	    grid-gap: 10%;
	    padding: 4rem 0;
	}

/* SECTION -- FOOTER */

	footer section {
		display: grid;
	    grid-template-columns: 45% 45%;
	    grid-gap: 10%;
	    padding: 4rem 0;
	}

/* TYPOGRAPHY */

	h3 {
		font: 700 2rem/2.5rem 'Inter', -apple-system, BlinkMacSystemFont, Helvetica, sans-serif;
	}

	h4 {
		font: 800 1rem/1rem 'Zuume-Bold', sans-serif;
		text-transform: uppercase;
	}

  	p {
		font: 400 1rem/2.5rem 'Inter', -apple-system, BlinkMacSystemFont, Helvetica, sans-serif;
 	}

 	code {
 		font-family: 'IBM Plex Mono', monospace;
 	}
 	
	pre code { 
		background: #2d2d2d;
		border-radius: 5px;
		color: #ddd;
		display: block;
		font-size: 85%;
		padding: 1rem;
	}

	pre code a {
		color: #F05A28!important;
	}



/* WEE SCREENS */

		@media (min-width: 801px) and (max-width: 1000px) {


		}

		@media (min-width: 100px) and (max-width: 600px) {

		main {
		padding: 0 5vw;
		width: 100vw;		
		}

		header {
			width: 90vw;
		}

		header nav,
		header section {
			display: block;
		}

		header nav { 
			height: 4rem;
			margin-bottom: 4rem;
			padding:  2rem 0;
		}

		header section {
			margin-bottom:  2rem;
			padding:  2rem 0;
		}

		h2 {
			font: 400 2.75rem/2.75rem -apple-system, BlinkMacSystemFont, sans-serif;
		}

	 	h2 span { display: inline; }


		main figure img { 
			border-radius: 0;
			box-shadow: none;	
		}

		.uno {
			margin-bottom: 5vw;
		}
		
		footer {
			padding: 5vw;
		}

		footer section {
			display: block;
		    margin-bottom: 10vw;
		}

		footer section img { 
			width: 50%;
		}

		footer p { 
			margin-bottom: 1rem;
			padding-right: 0;
		}

		h4 { 
			font: 400 1.75rem/1.75rem -apple-system, BlinkMacSystemFont, sans-serif;
	 		letter-spacing: -.075rem;
	 		margin-bottom: 1rem;
		}

		footer h4.lite { color: #FEF9F3; }

		footer h5 {
			font: 300 1rem/1rem "IBMPlexMono", monospace;
	 	}

	 	footer section#copyright {
	 		display: grid;
	 	    grid-template-columns: 50% 50%;
	 	}

		footer section#copyright h5 {
				font: 300 .6rem/.6rem "IBMPlexMono", monospace;
		 	}

		}


/* 2023 */

	