/* 

Styles:		●――● Thought Process

origin: 	1.0 — 05/01/23
version: 	1.1 — 05/11/23 Update
author: 	Joshua Blankenship
email: 		joshua@blankenship.xyz
website: 	http://blankenship.xyz
          

/* FOUNDATION */

	*, html, body, div, span, object, iframe,
	a, abbr, acronym, address, big, cite, code,
	del, dfn, em, img, ins, kbd, q, samp,
	small, strike, strong, sub, sup, tt, var,
	dl, dt, dd, ol, ul, li, img, figure, figcaption,
	fieldset, form, label, legend,
	table, caption, tbody, tfoot, thead, tr, th, td {
		box-sizing: border-box;
		font-smoothing: antialiased;
		margin: 0;
		padding: 0;
		outline: none;
		}

	html {
    	font-size: 16px;
	}

	ul {
	    list-style-type: none;
	}

	@media(min-width:700px) {
	    html {
	        font-size: 16px
	    }
	}

	@media(min-width:1200px) {
	    html {
	        font-size: 17px
	    }
	}

	@media(min-width:1400px) {
	    html {
	        font-size: 18px
	    }
	}

	body {
		background-color: #111;
		color: #eee;
		font-family: 'Inter', -apple-system, BlinkMacSystemFont, Helvetica, sans-serif;
		margin:  0 auto;
		padding: 0;
	}

	main { 
		max-width: 60vw; 
		margin:  0 auto;
		padding: 0;
	}

/* GRID BACKGROUND */

	.vert-grid {
	  background-size: 5vw 100%;
	  background-image: linear-gradient(to right,
	                                    #222 0%,
	                                    transparent 1%,
	                                    transparent 100%);
	}

	main figure img {
		width: 100%;
	}

	section {
		max-width: 60vw;
		margin-left: 10vw;
		margin-top: 4rem;
	}

	header div {
		display: grid;
	    grid-template-columns: 30vw 30vw;		
	    padding: 4rem;
	}

/* TYPOGRAPHY */

	header h1 { display: none; }

	header img#logo { 
		margin-bottom: 4rem;
		margin-left: 3.3vw;
		width: 10vw; 
	}

	header h2 {
		color: #555;
		font-family: "din-2014-rounded-variable", 'Inter', -apple-system, BlinkMacSystemFont, Helvetica, sans-serif;
		font-variation-settings: "wght" 400;
		margin-bottom: 4rem;
		width: 20vw;
	}

	header h3 {
		font: 100 3rem/3rem 'Inter', -apple-system, BlinkMacSystemFont, Helvetica, sans-serif;
		margin-bottom: 4rem;
	}

	section h4 {
		background: #111;
		border: 3px solid #f5a92b;
		color: #f5a92b;
		font-family: "din-2014-rounded-variable", 'Inter', -apple-system, BlinkMacSystemFont, Helvetica, sans-serif;
		font-variation-settings: "wght" 300;
		letter-spacing: .2rem;
		margin-bottom: 4rem;
		text-transform: uppercase;
		padding: 2rem 2rem 1.8rem 2rem;
		text-align: center;
		width: 20vw;
	}

	section ol {
		counter-reset: item;
		list-style-type: none;
		list-style-position: inside;
	}

	section ol li {
		background: #111;
		border-top: 3px solid #222;
		border-right: 3px solid #222;
		border-left: 3px solid #f5a92b;
		color: #fff;
		font: 400 1rem/1.5rem "IBM Plex Mono", monospace;
		margin-left: 5vw;
		padding: 2rem;		
		width: 15vw;
	}

	section ol li:last-of-type {
		border-bottom: 3px solid #222;
	}

	section ol li:before { 
		color: #f5a92b;
		content: counter(item) " "; 
		counter-increment: item;
		font-family: "din-2014-rounded-variable", 'Inter', -apple-system, BlinkMacSystemFont, Helvetica, sans-serif;
		font-variation-settings: "wght" 900;
		padding-right: 2rem;
	}

	button {
		background: #f5a92b;
		border: 0 none;
		color: #111;
		font: 400 1rem/1.5rem "IBM Plex Mono", monospace;
		margin-bottom: 4rem;
		margin-left: 10vw;
		padding: 2rem;
		width: 20vw;
	}

	button a { color: inherit; }
	

/* SECTION -- GRAPHS */

	section#graphs {
		margin: 0 0 0 -10vw;
		display: grid;
	    grid-template-columns: 10vw 25vw 25vw;
	    padding: 4rem 0;
	}


/* SECTION -- FOOTER */

	footer {
		color: #EDEDED;
	}

	footer section {
		margin: 0 auto;
		display: grid;
	    grid-template-columns: 15vw 15vw 15vw 15vw;
	    padding: 4rem 0;
	}

	footer p {
		color: #666;
		font: 400 .8rem/1rem "IBM Plex Mono", monospace;
		padding-left: .5rem;
	}


/* ●――● HTML Entity WiWi Logo */

	footer section p em {
		letter-spacing: -.05rem;
	}

	.white { color: #fff; }
	.brand { color: #f5a92b; }

/* SMALL SCREENS */

		@media (min-width: 100px) and (max-width: 800px) {

		

				}


/* 2023 */

	